<div class="container-fluid">
  <div class="row">
    <h1>Please add the file</h1>
    <mat-button-toggle-group #group="matButtonToggleGroup" style="max-width: fit-content;" name="fontStyle" aria-label="Font Style" (click)="selection(group.value)">
      <mat-button-toggle value="test">Test</mat-button-toggle>
      <mat-button-toggle value="candi">Candidate</mat-button-toggle>
      <mat-button-toggle value="both">Both</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="row py-2">
    <input class="form-control" type="file" mat-input (change)="load($event)">
    <button mat-button-flat>Load</button>
  </div>
</div>